{% extends "base.html" %}
{% block page_content %}
  <h2>Comment Editor</h2>
  <form method="post">
    <input type="hidden" name="comment_id" value="{{comment_id}}">
    <label>
      <textarea name="content">{{comment.content}}</textarea>
    </label>
    <div class="error">{{error | safe}}</div>
    <input class="post-button" type="submit" value="Update">
  </form>
  <form method="post">
    <input type="hidden" name="delete" value="True">
    <input class="post-button" type="submit" value="Delete">
  </form>
  <p><a href="/post/{{comment.post_id}}">Return to blog post</a></p>
{% endblock %}