{% extends "base.html" %}
{% block page_content %}
  <h2>Blog Editor</h2>
  <form method="post">
    <input type="hidden" name="blog" value="{{blog}}">
    <label>
      <div>Subject</div>
      <input type="text" name="subject" value="{{post.subject}}">
    </label>
    <label>
      <div>Content</div>
      <textarea name="content">{{post.content}}</textarea>
    </label>
    <div class="error">{{error | safe}}</div>
    <input class="post-button" type="submit" value="Update">
  </form>
  <form method="post">
    <input type="hidden" name="delete" value="True">
    <input class="post-button" type="submit" value="Delete">
  </form>
  <p><a href="/post/{{blog}}">Return to blog post</a></p>
{% endblock %}