{% extends "base.html" %}
{% block page_content %}
  <h2>{{posts.subject}}</h2>
  <p class="post-content">{{posts.content}}</p>
  <hr>
  <p class="post-details"><strong>Author:</strong> {{posts.author}}</p>
  <p class="post-details"><strong>Posted:</strong> {{posts.created}}</p>
  <p class="post-details"><strong>Likes:</strong> {{posts.likes}}</p>
  <p class="post-details"><strong>Comments:</strong> {{posts.comments}}</p>
  {% if posts.author == username %}
    <p class="post-details">
      <a href="/edit_blog/{{posts.key().id()}}">Edit Post</a>
    </p>
  {% endif %}
  <hr>
  <h2>Comments:</h2>
  {% for comment in comments %}
    <div class="comment-author">
      Posted by {{comment.author}} on {{comment.created}}
    {% if comment.author == username %}
      <br><a href="/edit_comment/{{comment.key().id()}}">Edit Comment</a>
    {% endif %}
    </div>
    <div class="comment-body">
      {{comment.content}}
    </div>
  {% endfor %}
  <hr>
  <form id="comment" method="post">
    <label>
      <div>Add a comment</div>
      <textarea name="content">{{content}}</textarea>
    </label>
    <div class="error">{{error | safe}}</div>
    <input class="post-button" type="submit" value="Post">
  </form>
{% endblock %}